@import "./markdownCommon.scss";
.wrap {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    background-color:#2A2D2E;
    padding: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    min-width: 768px;
     :global {
        div {
            background-color: #F9F9F9;
        }
        .page {
            float: left;
            width: 2%;
            height: 100%;
            background-color: #8CCE8B;
            overflow-x: hidden;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            box-sizing: border-box;
            padding: 5px;
        }
        .cutDiv {
            float: left;
            width: 2%;
            height: 100%;
            background-color: #2A2D2E;
            box-sizing: border-box;
            border: 5px dashed #fff;
            overflow-x: hidden;
        }
        .mdArea {
            float: left;
            width: 48%;
            height: 100%;
            border: 1px solid #000;
            box-sizing: border-box;
            border-top: 5px solid red;
            border-bottom: 5px solid red;
            padding: 5px;
            p {
                width: 100%;
                padding: 5px;
            }
        }
        .show {
            float: left;
            width: 48%;
            height: 100%;
            border: 1px solid #000;
            box-sizing: border-box;
            border-top: 5px solid red;
            border-bottom: 5px solid red;
            padding: 5px;
            overflow-x: scroll;
            @include markdown;
        }
    }
}