.wrap {
    padding: 50px;
     :global {
        .lists {
            padding-top: 30px;
            &:after {
                content: "";
                display: block;
                clear: both;
            }
            .link_wrap {
                float: left;
                width: 33.33333%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                .link {
                    padding: 10px 20px;
                    box-shadow: 0 0 1px #000;
                    font-size: 20px;
                    &:hover {
                        box-shadow: 0 0 1px rgb(0, 152, 94);
                        color: rgb(0, 152, 94);
                    }
                }
            }
        }
    }
    h2 {
        text-align: center;
    }
}